<%- include('../partials/adminheadder') %>

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="col-12 grid-margin stretch-card">
                <div class="card" style="color: white">
                    <div class="card-body">
                        <h4 class="card-title">Add Products</h4>
                        <p class="card-description">Give product details</p>
                        <p id="error-message" style="color: red"></p>
                        <form class="forms-sample" id="addOffers">
                            <div class="form-group">
                                <label for="exampleInputName1">Offer Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Offer Name" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Percentage</label>
                                <input type="number" class="form-control" name="percentage" placeholder="Percentage" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1"> Activation Date </label>
                                <input type="date" class="form-control" name="actiDate" placeholder=" Activation Date " />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1"> Expiry Date </label>
                                <input type="date" class="form-control" name="expDate" placeholder="Expiry Date " />
                            </div>
                            <button type="button" class="btn btn-primary" onclick="addOffer()">
                                add coupon
                            </button>
                            <button type="button" onclick="window.location.href='offers'" class="btn btn-danger">
                                cancel
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function addOffer() {
            const formData = new FormData(document.getElementById("addOffers"));
            const urlSearchParams = new URLSearchParams(formData);
            fetch('addoffers', {
                method: 'POST',
                body: urlSearchParams,
                
            })
            .then(response => response.json())
            .then(data => {
               if(data.success){
                document.location='/admin/offers';
               }else{
                document.getElementById("error-message").innerHTML =data.message;
               }
                
            })
            .catch((error) => {
                console.error('Error:', error);
                
            });
        }
    </script>

    <%- include('../partials/adminfooter') %>