<section class="bg0 p-t-20 p-b-70">
  <div class="container">
    <a href="/load-add-address"><div class="addAddress">
      <img src="/user/icon/Untitled.png" alt="">
       <p
         style="
           font-size: 30px;
           font-weight: 700;
           font-size: 24px;
           line-height: 32px;
         "
       >
         Add Address
       </p>
     </div></a>
  </div>
</section>
