<section class="bg0 p-t-20 p-b-70">
  <div class="container col-md-4"  >
    <h2 class="heading">Your Account</h2>
    <div class="profile">
      <a href="/orders"><div class="profileItems">
        <img class="itemImg" src="/user/images/Box._CB485927553_.png" alt="">
        <h5 class="itemheading">Your Orders <br>
          <p style="font-size: 12px; padding: 7px;">Track , return</p></h5>
      </div></a>
      <a href="/user-details"><div class="profileItems">
        <img class="itemImg" src="/user/images/account-details-3591536-3021563.png" alt="">
        <h5 class="itemheading">Account details <br>
          <p style="font-size: 12px; padding: 7px;">Name ,Email ,Edit</p></h5>
      </div></a>
      <a href="/add-address"><div class="profileItems">
        <img class="itemImg" src="/user/images/address-map-pin._CB485934183_.png" alt="">
        <h5 class="itemheading">Your Address <br>
          <p style="font-size: 12px; padding: 7px;">Add Address , Edit Address</p></h5>
      </div></a>
      <a href="/changePassword"><div class="profileItems">
        <img class="itemImg" src="/user/images/sign-in-lock._CB485931504_.png" alt="">
        <h5 class="itemheading">Password Management <br>
          <p style="font-size: 12px; padding: 7px;"> change password</p></h5>
      </div></a>
      <a href="/coupons"><div class="profileItems">
        <img class="itemImg" src="/user/images/Couponer Clipart PNG Images, Coupon Icon, Coupon Icons, Discount, Coupon PNG Image For Free Download.jpeg" alt="">
        <h5 class="itemheading">Coupons <br>
          <p style="font-size: 12px; padding: 7px;">view coupons</p></h5>
      </div></a>
      <a href=""><div class="profileItems">
        <img class="itemImg"  src="/user/images/kisspng-digital-wallet-e-commerce-payment-system-electroni-digital-wallet-5b1de92567bac4.7054169015286868854249.jpg" alt="">
        <h5 class="itemheading">Wallet <br>
          <p style="font-size: 12px; padding: 7px;">money</p></h5>
      </div></a>
      <a href="/logout"><div class="profileItems">
        <img class="itemImg"  src="/user/icon/logout-svgrepo-com(1).svg" alt="">
        <h3 style="color: red;margin-top: 15px;" >Logout <br></h3s>
      </div></a>

    </div>
    
  </div>
</section>
