<section class="bg0 p-t-20 p-b-70">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/profile">Menu</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
    <div class="userDetaliles" style="color: black">
      <form id="Form">
        <div class="form-group">
          <label for="formGroupExampleInput">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            id="formGroupExampleInput"
            value="<%=userDetails.fullname%>"
          />
        </div>
        <input type="hidden" value="<%=userDetails._id%>" name="_id" >
        <div class="form-group">
          <label for="formGroupExampleInput2">Email</label>
          <input
            type="text"
            name="email"
            class="form-control"
            id="formGroupExampleInput2"
            value="<%=userDetails.email%>"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Phone</label>
          <input
            type="text"
            name="number"
            class="form-control"
            id="formGroupExampleInput2"
            value="<%=userDetails.number%>"
          />
          <div id="error-message" style="color: red"></div>
        </div>
        <a href="/profile" class="btn btn-danger">Cancel</a>
        <button type="button" class="btn btn-primary" onclick="submitForm()">
          Edit
        </button>
      </form>
    </div>
  </div>
</section>

<script>
  function submitForm() {
    const formData = new FormData(document.getElementById("Form"));
    const urlSearchParams = new URLSearchParams(formData);
    // Fetch options
    const options = {
      method: "POST",
      body: urlSearchParams,
    };

    fetch("/user-details", options)
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          window.location.href = data.redirectTo;
        } else {
          document.getElementById("error-message").innerHTML =data.errorMessage;
        }
      })
      .catch((error) => {
        console.error("Error submitting form:", error);
        // Handle errors
      });
  }
</script>
